@import url(base.css);

.__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--offwhite-fundo);

}

.__card-linha {
    /* border-top: 5px solid rgba(0,0,0,0)  ; */
    border-style: solid;
    border-color: rgba(0, 0, 0, 0);
    border: 1px;
    border-top: 5px solid var(--offwhite-fundo)  ;
    padding: 0px 15px  ;
    border-style: solid;
    /* border: 1px solid rgba(0, 0, 0, 0.8)  ; */
}

.__card-linha:nth-child(1) {
    padding: 15px  ;
    border: none;
    border-radius: 0.25rem 0.25rem 0rem 0rem;
    border-top: none  ;
    background: var(--azul-turquesa-variante);
}

.__card-linha:not(:nth-child(1)) {
    padding: 0px  ;

}

.__container {

    min-height: calc(100vmin - 150px);
    width: 1010px;
    height: auto;
    padding: 0 0 40px;
    background-color: var(--offwhite-fundo);
    /* padding: 32px 36px 36px; */
    /* box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15); */

    /* border: solid 1px #ccc; */
}

.__card-sit {
    background-color: var(--branco)  ;
    text-align: start;
    /* padding-left: 53%; */
    padding: 15px 0px 15px 53%;
    border-radius: 13px  ;
}

.btn-success{
background-color: #28a745  ;
    border-color: #28a745  ;
}

.btn-success:hover {
    background-color: #198754  ;
    border-color: #198754  ;
}


@media (min-width: 780px) {
    .__botao-sit {
        text-align: start  ;
        /* font-size: 12px  ; */
        /* border: none  ;  */
    }
}


@media (max-width: 992px) {
    .__container {
        margin: 0px 15px 0px 2px;
        width: fit-content;
    }
}

@media (max-width: 780px) {
    .__main{
        background-color: var(--branco);
    }
    
    .__container {
        width: -webkit-fill-available;
        margin: 0px 15px 0px 15px;
        box-shadow: none;
        background-color: var(--branco);
    }


    .__card-linha:nth-child(1) {
        display: none;
    }

    .__card-linha:not(:nth-child(1)) {
        padding: 0px  ;
        border: 1px solid #cccccc  ;
        margin-top: 5px;
    }

    .collapse {
        transition: background-color 0.25s;
        background-color: var(--offwhite-fundo) ;
    }

    .accordion-button:not(.collapsed) {
        background-color: var(--azul-turquesa-variante)  ;
        color: var(--branco) ;
    }
    .__card-sit:not(.collapsed){
        background-color: var(--offwhite-fundo);
    }
    
    .__botao-sit {
        font-size: 12px  ;
        border-radius: 13px  ;
    }

}