@import url(base.css);

body {
    font-family: museo;
}

body main {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--offwhite-fundo);
    /* width: 100vw; */
}

.__container {
    min-height: calc(100vmin - 150px);
    width: 938px;
    height: auto;
    padding: 0 0 40px;
    background-color: var(--offwhite-fundo);
    align-self: center;
}

main table {
    max-width: 938px;
}

thead.card,
tbody.card {
    align-items: center;
    border: 0;
}

thead.card,
tbody.card,
table tbody .card,
table tbody {
    width: 938px;
}

tbody .accordion-body {
    padding: 0;
}

tbody .accordion-item {
    border: none;
}

tbody a {
    text-decoration: none;
}

thead tr th {

    line-height: 20px;
}

tbody>tr,
tbody>tr.card {
    border: 1px;
    background-clip: none;
    margin-top: 5px;
}

thead{
    background-clip: none;
    border: 1px;
}

tbody .btn {
    padding-left: 12px;
    padding-right: 12px;
}

tbody .btn-success {
    background-color: #09b88a;
    border-color: #09b88a;
    border-radius: 3px;
    height: 30px;
    white-space: nowrap;

}

tbody .btn-outline-success {
    color: #09b88a;
    border-color: #09b88a;
    max-width: 107px;

}

.btn-toolbar>div div:last-child label {
    margin-right: 0px;
}

.accordion-item div {
    padding: 15px 0;
    display: none;
}

td .accordion-button {
    padding-left: 4px;
    padding-bottom: 0px;
}

.btn-success:hover {
    background-color: #198754;
    border-color: #198754;
}

.__botao-sit {
    font-size: 12px;
    border-radius: 13px;

}

.__botao-sit

.accordion-button:focus {
    box-shadow: none;
}

@media (min-width: 780px) {
    .__botao-sit {
        text-align: start;
    }
}

@media (max-width: 992px) {
    .__container {
        margin: 0px 15px 0px 2px;
        width: fit-content;
    }
}

@media (max-width: 780px) {

    html body,
    table tbody div {
        font-size: 15px;
    }

    .__container {
        width: calc(100% - 30px);
        width: -webkit-fill-available;
        width: -moz-avaible;
        width: fill-available;

        display: flex;

        margin: 0px 15px 0px 15px;
        box-shadow: none;

        align-self: center;
        align-items: center;
        justify-content: center;
    }

    table tbody {
        width: 100%;
    }

    table tbody>tr.card,
    table thead.card {
        border: 0px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
    }

    table tbody>tr .accordion-item {
        border: none;
    }


    tbody .btn-outline-success {
        max-width: none;
        white-space: nowrap;
    }

    tbody .accordion-body {
        padding: 0px 4px 15px;
    }

    thead.card,
    tbody.card,
    table tbody .card {
        width: 100%;
    }

    .collapse {
        transition: background-color 0.25s;
        /* background-color: var(--offwhite-fundo) ; */
    }

    .accordion-button:not(.collapsed) {
        background-color: var(--azul-turquesa-variante);
        color: var(--branco);
        padding-bottom: 15px;
    }

    .accordion-item div {

        display: block;
        padding: 15px 4px;
    }


}