@import url(base.css);
 
body nav{
    width: 1010px;
    display: flex;
    justify-content: flex-end;
    align-self: center;
}

 nav > div{
    padding: 25px 0px;
    display: block  ;
}

body nav .btn-group-sm>.btn{
    margin: 0 10px;
    border-radius: 17px  ;
    font-size: 12px  ;
    font-weight: 400  ;
    height: 24px;
    display: flex;
    align-items: center;
}

.__filtro-close{
    margin-left: 12px;
    align-items: center;
    padding-bottom: 0px  ;
    padding-top: 0px  ;
}

.btn-close{
    opacity: 1  ;
    width: 0.7em  ;
    height: 0.7em  ;
    
}

body nav p{
    margin-right: 12px; 
    align-self: center; 
    padding-top: 12px;
}

body nav button {
    padding: 0;
}

.__close-inline {
    width: 19px;
    height: 19px;
    color: #000;
     background: url(../img/x.png);
     background-repeat: no-repeat;
     background-position: center;
     border: 1px solid;
    border-radius: 100%;
}

@media (min-width: 780px) and (max-width: 992px) {
    body nav {
        margin: 0 32px;
        width: 1010px;
        justify-content: center;
    }

    nav > div{
        align-self: flex-end;
    }
}

@media (max-width: 780px) {
    body nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: fit-content;
    }
    nav > div{
        padding-top: 5px;
    }
}

@media (max-width: 480px) {
    body nav p{
        align-self: flex-start; 
        margin-right: 2px;
    }

    nav > div{
        padding: 5px 0px;
    }
}