@import url(base.css);
 
.__filtro-base{
    width: 1010px;
    text-align: right;
    display: flex;
    justify-content: flex-end;
}

 .__filtro-grupo{
    padding: 25px;
    display: block !important;
}

.__filtro-item{
    margin: 0 10px;
    border-radius: 17px !important;
    font-size: 12px !important;

    font-weight: 400 !important;

    padding: 4px 12px !important;
}

.__filtro-close{
    margin-left: 12px;
    align-items: center;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
}

.btn-close{
    opacity: 1 !important;
    width: 0.7em !important;
    height: 0.7em !important;
    
}

@media (min-width: 780px) and (max-width: 992px) {
    .__filtro-base {
        margin: 0 32px;
        width: 1010px;
        justify-content: center;
    }

    .__filtro-grupo{
        align-self: flex-end;
    }
}

@media (max-width: 780px) {
    .__filtro-base {
        width: auto;
    }
}