@import url(base.css);
 
body nav{
    width: 1010px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-self: center;
    align-items: center;
    font-size: 12px;
}

body nav > div{
    padding: 25px 0px;
    display: block  ;
}

body nav select {
    margin-top: 32px;
    margin-bottom: 24px;
}

body nav label {
    height: 20px;
}

body nav .btn-group-sm>.btn{
    margin: 0 10px;
    border-radius: 17px  ;
    font-size: 12px  ;
    font-weight: 400  ;
    height: 24px;
    display: flex;
    align-items: center;
}

.__filtro-close{
    margin-left: 12px;
    align-items: center;
    padding-bottom: 0px  ;
    padding-top: 0px  ;
}

.btn-close{
    opacity: 1  ;
    width: 0.7em  ;
    height: 0.7em  ;
    
}

body nav p{
    margin-right: 12px; 
    align-self: center; 
    margin-bottom: 0;
}

body nav button {
    padding: 0;
}


body fieldset .form-control{
    display: none;
}

.__close-inline {
    width: 19px;
    height: 19px;
    color: #000;
     background: url(../img/x.png);
     background-repeat: no-repeat;
     background-position: center;
     border: 1px solid;
    border-radius: 100%;
}

@media (min-width: 780px) and (max-width: 992px) {
    body nav {
        margin: 0 32px;
        width: 1010px;
        /* justify-content: center; */
    }

    nav > div{
        align-self: flex-end;
    }
}

@media (max-width: 780px) {
    
    
    body nav {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        width: fit-content;
        height: 183px;
        padding: 0 15px;
    }
    nav > div{
        padding-top: 5px;
    }
/* }

@media (max-width: 480px) { */
    body nav p{
        align-self: flex-start;
        font-size: 15px;
        margin-bottom: 10px;
    }

    body nav select {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    body nav fieldset {
        width: 100%;
    }

    body nav > div {
        padding: 0px 0px;
    }

    nav > div{
        padding: 5px 0px;
    }

    body nav .btn-group-sm>.btn {
        margin: 0 3px;
    }


    body fieldset .form-control{
        display: block;
    }
    select.form-control {
        -webkit-appearance: menulist;
    }

    select option {
        background-color: #ececec;
    }

    body nav label {
        font-size: 15px;
    }
    
}