@import url(base.css);

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--offwhite-fundo);
}

footer a {
  text-decoration: none;
}

footer .__page-selected a {
  color: var(--offwhite-fundo)
}

footer > div {
  justify-content: center;
  display: flex;
  padding: 40px;
}

.__page-selected {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  background-color: #4579fb;
  color: #fff;
  border: 2px;
  border-color: var(--offwhite-fundo);
  border-radius: 50px;
  transition: 0.7s;
}
.__page-selected:hover {
  border-color: #4579fb;
}

.__page-not-selected {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  background-color: var(--offwhite-fundo);
  color: #4579fb;
  border-radius: 50%;
}

#proxima {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--offwhite-fundo);
  color: #4579fb;
  border-radius: 50%;
}

#proxima a {
  color: #4579fb;
}

@media (max-width: 780px) {

 main footer {
    display: none;
  }

}