@import url(../base.css);

/*
como estava:
    grid-template-columns: 2fr 1fr 4fr 1fr 1fr 2fr;
    grid-template-rows: minmax(20px, 1fr);
    grid-column-gap: 27px;
*/
.__card-corpo {
    width: 938px;
    display: grid;
    grid-template-columns:
        calc(138px + 15px)
        /*nso*/
        26px calc(66px + 15px)
        /*dso*/
        26px calc(46px + 15px)
        /*srv*/
        198px calc(39px + 15px)
        /*org*/
        57px calc(70px + 15px)
        /*uta*/
        26px calc(53px + 15px)
        /*sit*/
        calc(89px - 14px);
    grid-template-rows: minmax(20px, 1fr);
    grid-template-areas:
        "nso . dso . srv srv org org uta . sit sit";

    align-items: flex-start;
    border: 1px solid #cccccc;
    border-radius: 4px;
    border-width: 1px;
    font-size: 13px;
    line-height: 20px;
    grid-column-gap: 0px;
    justify-items: flex-start;
    padding: 15px 14px;
}

#cardI1 {
    grid-area: nso;
    
}

#cardI1 a {
    line-height: 20px;
    height: 20px;
    color: #4579FB;
}

#cardI2 {
    grid-area: dso;
    justify-self: end;
    margin-right: 15px;
}

#cardI3 {
    grid-area: srv;
    justify-self: flex-start;


}

#cardI4 {
    grid-area: org;

}

#cardI5 {
    grid-area: uta;
    justify-self: end;
    /* margin-right: 15px; */
}

#cardI6 {
    grid-area: sit;
    margin-top: -4.5px;
    margin-bottom: -9.5px;
    line-height: 20px;
}

tbody .accordion-flush .accordion-item .accordion-button,
.__card-corpo>a {
    display: none;
}


@media (max-width: 780px) {

    #cardI1, #cardI2, #cardI4, #cardI5 {
        padding-left: 4px;
    }

    #cardI3,
    #cardI6 {
        display: none;
    }

    #cardI2,
    #cardI5 {
        justify-self: start;
    }

    /*  Essa funciona bem também:
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr 2fr 1fr 2fr 1fr 2fr ; */
    /* row-gap: 15px; */

    .__card-corpo {
        width: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 20px 35px 20px 35px 20px 35px 20px 40px;
        grid-template-areas:
            "nsoT"
            "nso"
            "dsoT"
            "dso"
            "orgT"
            "org"
            "utaT"
            "uta";
        align-items: start;
        justify-items: start;
        row-gap: 5px;
        padding: 0px;
        border: none;
    }

    tbody .accordion-flush .accordion-item .accordion-button {
        display: flex;
        padding-top: 28px;
        font-size: 15px;
        font-weight: 500;
        line-height: 20px
    }

    tbody .accordion-button::after {
        width: 18px;
        height: 18px;
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 6px;
        margin-right: 4px;
        /* background-color: #FFFFFF; */
    }

    .accordion-button:not(.collapsed)::after{
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FFFFFF'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    }
    .__card-corpo>a {
        display: block;
        justify-self: end;
        font-size: 15px;
    }

}