@import url(../base.css);


/*como estava
grid-template-columns: 2fr 1fr 4fr 1fr 1fr 2fr;
grid-template-rows: calc(70px - 30px);
grid-column-gap: 27px;
*/

.__card-corpo-titulo {
    display: grid;
    grid-template-columns: 140px 70px 271px 85px 71px 143px;
    grid-template-rows: calc(70px - 30px);
    grid-template-areas:
        "nsoT dsoT srvT orgT utaT sitT";
    align-items: flex-start;
    background-color: var(--azul-turquesa-variante);
    border: solid 1px #ccc;
    border-radius: 4px;
    border-width: 1px;
    color: var(--branco);
    font-size: 13px;
    justify-items: flex-start;
    grid-column-gap: 26px;
    padding: 15px 14px;
    /* border-width: 1px; */
}

.card-body {
    padding: 0px;
}

#cardT1 {
    grid-area: nsoT;

}

#cardT2 {
    grid-area: dsoT;

}

#cardT3 {
    grid-area: srvT;
    justify-self: flex-start;
}

#cardT3:after {
    background: url(../../img/caret-down-fill.webp) no-repeat;
    content: "";
    display: inline-block;
    flex-grow: 0;
    height: 13px;
    margin-left: 10px;
    width: 13px;
    transform: rotate(-180deg);    
}

#cardT4 {
    grid-area: orgT;

}

#cardT5 {
    grid-area: utaT;

}

#cardT6 {
    grid-area: sitT;

}


/* @media (min-width: 780px) and (max-width: 1010px) {
    .__card-corpo-titulo {
        grid-template-columns: 2fr 1fr 4fr 1fr 1fr 2fr;
        grid-template-rows: calc(70px - 30px);
        grid-column-gap: 27px;
    }

} */


@media (min-width: 780px) {

    #cardTi1,
    #cardTi2,
    #cardTi3,
    #cardTi4,
    #cardTi5,
    #cardTi6 {
        display: none;
    }
}

@media (max-width: 780px) {


    .__card-corpo-titulo {
        display: none;
    }



    #cardTi1 {
        grid-area: nsoT;

    }

    #cardTi2 {
        grid-area: dsoT;

    }

    #cardTi3,
    #cardTi6 {

        display: none;

    }

    #cardTi4 {
        grid-area: orgT;

    }

    #cardTi5 {
        grid-area: utaT;

    }

}